body{
    min-width: 1024px; 
    margin: 0px; 
    font-family:  Verdana, Arial, sans-serif;
    background-color: #fcfcfc;
    font-size: medium;
}

div#BarraBusqueda{
    margin-top: 20px;
    position: relative;
    top: 50px;
    width: 850px;
    margin-left: 15%;
    
}
table tr td{
    width: 200px;
    width: 200px;
}
.imagen{
    height: 200px;
    width: 200px;
}
#ListaImagenes{
    text-align: center;
    border: 1px solid blue;
}
#RecientesCaption{
    font-weight: bold;
    padding: 5px 0px;
}
li.MenuItem ul li:first-child{
    margin-top: 10px;
}
#ListaCategorias{
    height: 40px;
    list-style-type: none;
    margin-right: -7px;
}
#ListaCategorias:hover, .Boton:hover{
    
    border: 1px solid #125CB5;
    color: white;
    font-weight:normal;
    text-decoration:none;
    background-image: linear-gradient(to bottom,#1A5DB3,#0D98FB);
}

#LiLogo{ /*flotar el logo a la izquirda*/
    float: left;
    margin-left: 10px;
}

.ItemDerecha{
    float: right;
    margin-right: 30px;
    font-weight: bold;
}

#NuevosArticulos{}

#ImagenArticulo{
    width: 200px; height: 200px;
}

.Logo{
    font-size: 21px;
}


#Cuerpo{
    
    margin: 0px 5%;
    
}
.division-menu{
    height: 50px;
    box-shadow: 0px 0px 10px 0px blue;
    background-image: linear-gradient(to bottom,white,Gainsboro);
    z-index: 100;
}

.barra-menu ul{
    margin: 0 auto;
    padding: 0px;
}

.MenuItem{
    position: relative;
    float: left;
    width: auto;
    padding: 5px;
    text-align: center;
    font-size: 90%;
}

.barra-menu ul li{
    list-style: none;
                 
}
.Boton, #ListaCategorias{
    border-style: none;
    height: 40px;
    border: 1px solid #125CB5;
    color: white;
    font-weight:normal;
    text-decoration:none;
    background-image: linear-gradient(to bottom,#0D98FB,#1A5DB3);
}

#BuscarArticulos, #ListaCategorias{
    background-color: Silver;

}
.BuscarBoton{
    margin-left: -7px;
    
}
#BuscarArticulos{
    width:600px;
    height: 35px;
    font-size:17px;
    color: MidnightBlue;
    border: 1px solid #125CB5;

    margin-top: 0px;

}

.barra-menu ul a{
    color: SteelBlue;
    padding: 0.5em 0em;
    display: block;
    text-decoration: none;
}

.barra-menu ul li ul li.SubMenuItem{
    text-align: left;
    font-size: 12px;
}

.barra-menu ul li ul{
    display: none;
    position: absolute;
}

.barra-menu ul :hover{
    color: maroon;            
}

ul li:hover ul{
    display: block;       
}
         
            
.titles, .titles a{
                color: MediumAquamarine;
                text-align: center; 
                
                text-decoration: none;
            }

            a{
                text-decoration: none;

            }
            h1{
                color: MediumAquamarine;
            }
            .l-error{
                color: red;
                font-size: 14px;
            }

            .formulario{
                text-align: right;
                display:block; 
                border: 2px solid lightgrey;
                margin-left: 35%;
                padding-top: 5px;
                background-color: white;
                width: 400px;
                height: auto;
                opacity: 0.8;
                border-radius: 3px 3px;
                padding: 10px;
            }
footer{
    font-size: 12px;
    text-align: center;
    margin-top: 15%;
    margin: 5% 0% 5% 0%;
    padding-top: 50px;
    padding-bottom: 10px;
    background-image: linear-gradient(to top,white,Gainsboro);
    /*box-shadow: 0px 0px 10px 0px;*/
}

            .form_ingreso{
                
                display:block; 
                border: 2px solid lightgrey;
                margin-left: 35%;
                padding-top: 5px;
                background-color: white;
                width: 400px;
                height: auto;
                opacity: 0.8;
                border-radius: 3px 3px;
                padding: 10px;

            }
.contenido{
    position: relative;
    top: 50px;
    font-family:  Verdana, Geneva, Arial, sans-serif;
    margin: 50px 50px;
    padding-bottom: 50px;
}
            
.IS_text{
    font-size: 20px;
    width: 200px;
    height: 26px;
}
    
.seccion_imagen{
    margin-left: 5px;
    float:left;
    border-radius:50%;
}