<!DOCTYPE html>
<html>

<head>
	<title>Comercio Electronico Social</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	{% if n == 1 %}
		{% extends "menu.html" %}

	{% elif n != 1 %}
		{% extends "_estilo.html" %}
	{% endif %}

    {% block content %}
    
		<h1 class="titles">Bienvenido a<br><a class="title_text" href="/">Comercio Electronico Social</a></h1>

		
		<div class="lookup_area" >
			<input class="lookup_text" type="search"><input id="bLookup" type="button" value="Buscar">
		</div>

		<div class="left_col_bar" style="width: 200px; height: 0 auto;">
			<nav class="sections">
				<ul style="list-style-type:none;">
				<li><a href="#">Seccion 1 </li>
				<li>Seccion 2</li>
				 </ul>
			</nav>
		</div>
 	{% endblock %}
 	
</body>
<footer class="footer-one">
	<center>Copyring UCATECI Rep. Dom. Developers F. G. Castillo y Y. Liriano</center>
</footer>
</html>