{% extends "_estilo.html" %}
{% block content %}

<center><h2>eSocial Commerce™</h2></center>
<div class="form_ingreso">

  	<form  name="inicia-seccion-form" method="POST" enctype="multipart/form-data" action="">
  	<center><h3>Iniciar Seccion</h3></center>
 	<hr>
  	  <img class="seccion_imagen" src="http://www.globallshare.com/img/male.jpg" alt="#imagen"  width="150px" height="150px"><br>
	  <p><input  name="correo" type="text" value="" class="IS_text" placeholder="Correo Electronico"></p>
	  <p><input name="contrasena" type="contrasena" value=""  class="IS_text" placeholder="Contraseña"></p><br><hr>
	  <p><center><input class="legueo" name="logueo" height="50" type="submit" value="Iniciar seccion" style="font-size: 18px">
	  <br><a href="/registro">Registrate ya!</a>
	  </center> </p>
	</form>
  
</div>

{% endblock %}