<!DOCTYPE HTML>
<html>
	
	<head lang="ES">
		<title>{{TituloPagina}}</title>
        <!-- <link rel="stylesheet" type="text/css" href="complementos/css/bootstrap.css"> -->
		<link rel="stylesheet" type="text/css" href="complementos/css/bootstrap.css">
    </head>

	<body>

	<!-- menu bar-->
    
    <div class="navbar navbar-reverse navbar-static-top">
        <div class="conteiner">
            
                <a class="navbar-brand" href="/"> eSocial Commerce</a>
                <button class="navbar-toggle" data-toggle="" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapsed navbar-collapse navHeaderCollapse">
                    <a href="/" title="ir a inicio" > Inicio </a>
                    <a href="/registro"> Registrate</a>
                    <a href="/acceder"> Iniciar seccion </a>
                    <a href="#" >Bienvenido {{Usuario}}</a>
                        <div class="dropdown">
                            <a href="/{{Usuario}}/articulos"> Articulos</a>
                            <a href="/agregar-articulo"> Agregar Articulo</a>
                            <a href="#"> Configuracion</a>
                            <a href="#"> Salir</a>
                        </div>
                    
                    <a href="#" > Ayuda </a>
                        
                            <a href="#">Nosotros</a>
                            <a href="#">Centro de Ayuda</a>
                            <a href="#">Preguntas</a>
                </div>
        </div>
    </div>
	
    <!-- fin del menu -->

    <!-- Barra de Busqueda -->
    <!-- <div id="Cuerpo">
        {% if not NoMostrar%}
        <div id="BarraBusqueda">
            <form method="get">
            
            <select id="ListaCategorias" name="Categoria" title="Todas las Categorias">
                <option value="todas">Todas las categorias</option>
                <option value="libros">Libros</option>
                <option value="celulares">Celulares</option>
                <option value="computadoras">Computadoras</option>
                <option value="fashion">Fashion &amp Moda</option>
            </select>

            <input type="text" id="BuscarArticulos" value="{{aBuscar}}" name="q" title="Buscar" placeholder=" Buscar..." /> 
            <input type="submit" value="Buscar" class="Boton BuscarBoton" title="Buscar articulos" />
            </form>
        </div>
        {% endif %} -->
    <!-- fin barra de busqueda -->

        <!-- <div class="contenido">
    		{% block content %}
    		{% endblock %}
        </div>
 -->

      <!--   <footer class="pie-info">
          <p><a href="/">eSocial Commerce</a> &middot; 
            <a href="#">Terminos de uso</a> &middot; 
            <a href="#">Politicas y privacidad</a> &middot; 
            <a href="#">Ayuda</a> &middot; 
            <a href="#">Contacto</a><br>
            Copyring UCATECI Rep. Dom. Developers F. G. Castillo y Y. Liriano &copy; 2014-2015.
          </p>
        </footer>
    </div> -->
    <script type="text/javascript" src="complementos/js/jquery.min.js"></script>
    <script type="text/javascript" src="complementos/js/bootstrap.js"></script>
</body>
</html>
