	{% extends "_estilo.html" %}
	{% block content %}
		<table id="ListaImagenes">
			<caption id="RecientesCaption">Más recientes</caption>
			<tr>
			{% for articulo in todos_articulos[:3] %}
				<td class="imagen"><img src="complementos/imagenes/male.jpg" alt="imagen..." class="ImagenArticulo" /> </td>
				<td><h4>{{articulo}}</h4></td>
			{% endfor %}
			</tr>
			<tr>
			{% for articulo in todos_articulos[3:] %}
				<td class="imagen"><img src="complementos/imagenes/411zEqBa+IL._SL150_.jpg" alt="imagen..." class="ImagenArticulo" /> </td>
				<td><h4>{{articulo}}</h4></td>
			{% endfor %}
			</tr>
		</table>
 	{% endblock %}
